            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span ><%-__('Help')%></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/login"><%-__('Login')%></a>
		  <a class="dropdown-item" href="/signup"><%-__('Sign up now!')%></a>
		  <a class="dropdown-item" href="/support"><%-__('Support')%></a>
                  <a class="dropdown-item" href="/fees"><%-__('Fees')%></a>
                </div>
            </li>
